<div class="light-bottom"></div>
<!-- Footer -->
<section class="footer" style="text-decoration: none;">
  <div class="row box-container">

    <div class="col col-lg-3 col-md-6 col-sm-12 box">
      <h3>Get to know us</h3>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">about us</span></a><br>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">careers</span></a><br>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">press releases</span></a><br>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12 box">
      <h3>Get Connected</h3>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram i-color"></i><span class="links">instagram</span></a><br>
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook i-color"></i><span class="links">facebook</span></a><br>
      <a href="https://twitter.com/"><i class="fa-brands fa-twitter i-color"></i><span class="links">twitter</span></a><br>
      <a href="https://www.linkedin.com/in/pranjit-kakoti-493028229/"><i class="fa-brands fa-linkedin i-color"></i><span class="links">linkedin</span></a><br>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12 box">
      <h3>Let Us Help</h3>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">covid-19 and flipZone</span></a><br>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">support</span></a><br>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">privacy policy</span></a><br>
      <a href="/footerLink"><i class="fa fa-angle-right i-color"></i><span class="links">terms of use</span></a><br>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12 box">
      <h3>Contact Us</h3>
      <a href="/home"><i class="fa-solid fa-phone i-color"></i><span class="links">180-987-2345</span></a><br>
      <a href="/home"><i class="fa-solid fa-phone i-color"></i><span class="links">180-987-2345</span></a><br>
      <a href="mailto:pranjitkakotiofficial@gmail.com"><i class="fa-solid fa-envelope i-color"></i><span class="links">flipZone@flip360.com</span></a><br>
      <a href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&t=m&oe=UTF8&msa=0&mid=1NyaiKasiOzFRTQm04HZ0u7Mkz3U&ll=26.0678818396544%2C92.890774&z=7"><i class="fa-solid fa-map i-color"></i><span class="links">assam, india - 781001</span></a><br>
    </div>
  </div>
  <div class="credits">
    © Copyright-2022 flip360. All rights reserved.
  </div>
</section>

</body>
</html>
