<%- include("partials/header") -%>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">What Is Electronic Commerce (Ecommerce)?</h1>
      <p class="col-md-8 fs-4">Electronic commerce (ecommerce) refers to companies and individuals that buy and sell goods and services over the Internet. Ecommerce operates in different types of market segments and can be conducted over computers, tablets, smartphones, and other smart devices. Nearly every imaginable product and service is available through ecommerce transactions, including books, music, plane tickets, and financial services such as stock investing and online banking. As such, it is considered a very disruptive technology.</p>
      <a href="/home" class="btn btn-primary btn-lg" type="button">Go to Home</a>
    </div>
</div>

<%- include("partials/footer") -%>