<%- include("partials/header") -%>
<div class="placed-container">
    <h1>Order Placed!</h1>
    <form action="/orders" method="get">
        <button>My Orders</button>
    </form>
</div>
<%- include("partials/footer") -%>